body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.text {
  display: flex;
  gap: 2em;
  justify-content: center;
}
#running-score {
  width: 100%;
}
.player-score,
.computer-score {
  display: flex;
  height: 30px;
}
.selection {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.btn {
  background-color: blueviolet;
  border: none;
  padding: 14px;
  border-radius: 5px;
  color: rgb(169, 194, 9);
  font-weight: bold;
  font-size: 20px;
}
.btn:hover {
  cursor: pointer;
  background-color: cadetblue;
}
/* TO BE ADDED BY JAVASCRIPT */
.start-game-button {
  background-color: rgb(62, 129, 33);
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: rgb(204, 214, 190);
  font-weight: bold;
  font-size: 17px;
  width: 30%;
  margin-left: -46px;
}
.start-game-button:hover {
  cursor: pointer;
  background-color: rgba(62, 129, 33, 0.9);
}
